.element-space>input { box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5) inset; }
.code .element-space.in-space { box-shadow: 0px 0px 0px 2px white; }

/*****************/

.element { box-shadow: 0.5px 0.5px 1px 0px greenyellow inset, 1px 1px 0px 0px black; }
.movement { box-shadow: 0.5px 0.5px 1px 0px deepskyblue inset, 1px 1px 0px 0px black; }
.event { box-shadow: 0.5px 0.5px 1px 0px #FFEE99 inset, 1px 1px 0px 0px black; }
.control:not(.bracketed) { box-shadow: 0.5px 0.5px 1px 0px #FFDD70 inset, 1px 1px 0px 0px black; }
.control.bracketed>.b-open { box-shadow: 0.5px 0.5px 1px 0px #FFDD70 inset, 1px 1px 0px 0px black; }
.control.bracketed>.b-close { box-shadow: 0.5px 0.5px 1px 0px #FFDD70 inset, 1px 1px 0px 0px black; }
.control.bracketed>.b-line {
    box-shadow: 0.5px 0px 0px 0px #FFDD70 inset,
                1px 0px 0px 0px black,
                1px -2px 0px -1px darkorange,
                0px 4px 0px -1px darkorange; }

/*****************/

.movement.mouseover:not(.acting) {
    box-shadow: 0.5px 0.5px 1px 0px deepskyblue inset, 1px 1px 1px 0px black,
                1px 1px 3px 1px blue; }
.movement.dragging:not(.acting) {
    box-shadow: 0.5px 0.5px 1px 0px deepskyblue inset, 1px 1px 1px 0px black,
                1px 1px 3px 1px blue, 5px 5px 3px 0px dimgray; }
.movement.mouseover.dragging:not(.acting) {
    box-shadow: 0.5px 0.5px 1px 0px deepskyblue inset, 1px 1px 1px 0px black,
                1px 1px 3px 1px blue, 5px 5px 3px 0px dimgray; }

.operator.mouseover:not(.acting) {
    box-shadow: 0.5px 0.5px 1px 0px greenyellow inset, 1px 1px 1px 0px black,
                1px 1px 5px 1px #002200; }
.operator.dragging:not(.acting) {
    box-shadow: 0.5px 0.5px 1px 0px greenyellow inset, 1px 1px 1px 0px black,
                1px 1px 5px 1px #002200, 5px 5px 3px 0px dimgray; }
.operator.mouseover.dragging:not(.acting) {
    box-shadow: 0.5px 0.5px 1px 0px greenyellow inset, 1px 1px 1px 0px black,
                1px 1px 5px 1px #002200, 5px 5px 3px 0px dimgray; }

.event.mouseover:not(.acting) {
    box-shadow: 0.5px 0.5px 1px 0px #FFEE99 inset, 1px 1px 1px 0px black,
                1px 1px 3px 1px darkgoldenrod; }
.event.dragging:not(.acting) {
    box-shadow: 0.5px 0.5px 1px 0px #FFEE99 inset, 1px 1px 1px 0px black,
                1px 1px 3px 1px darkgoldenrod, 5px 5px 3px 0px dimgray; }
.event.mouseover.dragging:not(.acting) {
    box-shadow: 0.5px 0.5px 1px 0px #FFEE99 inset, 1px 1px 1px 0px black,
                1px 1px 3px 1px darkgoldenrod, 5px 5px 3px 0px dimgray; }

.control:not(.bracketed).mouseover:not(.acting) {
    box-shadow: 0.5px 0.5px 1px 0px #FFDD70 inset, 1px 1px 1px 0px black,
                1px 1px 3px 1px #CC6A00; }
.control:not(.bracketed).dragging:not(.acting) {
    box-shadow: 0.5px 0.5px 1px 0px #FFDD70 inset, 1px 1px 1px 0px black,
                1px 1px 3px 1px #CC6A00, 5px 5px 3px 0px dimgray; }
.control:not(.bracketed).mouseover.dragging:not(.acting) {
    box-shadow: 0.5px 0.5px 1px 0px #FFDD70 inset, 1px 1px 1px 0px black,
                1px 1px 3px 1px #CC6A00, 5px 5px 3px 0px dimgray; }

/*****************/

.code .movement.magneted-bottom {
    box-shadow: 0.5px 0.5px 1px 0px deepskyblue inset, 1px 1px 1px 0px black,
                0px 10px 10px -5px gold; }
.code .event.magneted-bottom {
    box-shadow: 0.5px 0.5px 1px 0px goldenrod inset, 1px 1px 1px 0px black,
                0px 10px 10px -5px gold; }
.code .control.magneted-bottom {
    box-shadow: 0.5px 0.5px 1px 0px orange inset, 1px 1px 1px 0px black,
                0px 10px 10px -5px gold; }

.code .b-close.magnet.magneted-bottom {
    box-shadow: 0.5px 0.5px 1px 0px #FFDD70 inset, 1px 1px 1px 0px black,
                0px 10px 10px -5px gold; }

.code .b-open.magnet.magneted-bottom {
    box-shadow: 0.5px 0.5px 1px 0px #FFDD70 inset, 1px 1px 1px 0px black,
                0px 10px 10px -5px gold; }

/*****************/

.code .acting { box-shadow: 0px 0px 10px 2px gold; }
.code .acting[next-piece-id] {
    box-shadow:
            -5px -5px 10px -3px gold,
            7px 3px 5px -5px gold,
            -7px 3px 5px -5px gold,
            5px -5px 10px -3px gold;
}
.code .acting[prev-piece-id] {
    box-shadow:
            -5px 5px 10px -3px gold,
            7px -3px 5px -5px gold,
            -7px -3px 5px -5px gold,
            5px 5px 10px -3px gold;
}
.code .acting[prev-piece-id][next-piece-id] {
    box-shadow:
            5px 0px 10px -3px gold,
            -5px 0px 10px -3px gold;
}

/*****************/

.operator { background-color:forestgreen; }
.sound { background-color:rebeccapurple; }
.movement { background-color: #003eff; }
.event { background-color: darkgoldenrod; margin-right: 30px; }
.control { background-color: darkorange; }
.control>.b-line { background-color: inherit; }
.control.bracketed>.bracket { background-color: darkorange; }
