.code-piece { display: inline-block; padding:2px; margin: 1px; color:white; cursor:pointer; }
.code-piece.mouseover { border: solid 2px gold; margin: -1px; }
#script-tab #code-sec .code-piece { position: absolute; }
#script-tab #blocks .code-piece { position: relative; }
.code-piece.operator { background-color:forestgreen; }
.code-piece.sound { background-color:rebeccapurple; }
.code-piece.movement { background-color: #003eff; }
.element {}
.element.plus {}
.element.space { background-color:gray; }
.default.element { background-color:white; margin:0; border:0; padding:0 2px; color:black; width:21px; white-space: nowrap; font-size: large; }

