#empty-line {
    flex:1; margin:0px; padding:0px; border-bottom:2px solid #ccc;
}
.workmenu {
    background-color: #efefef;
}
.horizon-separation-line {
    height: 0px;
    width: 100%;
    margin: 5px;
    border-top: 1px gray solid;
    border-bottom: 1px white solid;
}

.code {
    border: 1px solid gray;
}