* { 
	margin:0px; padding:0px; border:1px solid #ccc;
}

html{
	width:99%; height:99%; display:flex; flex-wrap: nowrap;
}

body html { display: none; }

[type=radio] {
  display: none;   
}

.tempfooter{
	flex:1; max-width:0; max-height:0; margin:0px; padding:0px; border:0px;
}

.body { 
	flex:1; width:99%; height:99%; min-width:1000px; min-height:750px; 
	display:flex; flex-wrap: nowrap; flex-direction: column;
}
	
.menubar{
	flex:1; min-height:30px; max-height:30px; margin-bottom:5px;
	display:flex; flex-wrap: nowrap; background-color: #9c9aa2;
}
	
.main{
	flex:1;
	display:flex; flex-wrap: nowrap;
}

.column1 {
	flex:1; max-width:480px;
	display:flex; flex-direction: column; flex-wrap: nowrap;
}
.screenbar{
	border:2px solid #ccc;
	border-radius: 15px 15px 0px 0px;
	flex:0; min-width:480px; max-width:480px; min-height:40px; max-height:40px;
}
.floatright{
	float:right;
}
.screenbutton{  
	margin:0px; padding:7px;
	min-width:28px; max-width:28px; min-height:28px; max-height:28px;
}
.fullscreenbuttonOff{  
	content: url('../img/UI/buttons/fullScreenOff.png');
}
.startbuttonOff{  
	content: url('../img/UI/buttons/greenFlagOff.png');
}
.stopbuttonOff{  
	content: url('../img/UI/buttons/stopOff.png');
}
.screen {
	border:2px solid #ccc;
	flex:0; min-width:480px; max-width:480px; min-height:350px; max-height:350px; 
}
.screenxy{
	flex:0; min-width:480px; max-width:480px; min-height:20px; max-height:20px; 
	text-align:right;
}
.spritebar{
	border:2px solid #ccc;
	border-radius: 15px 15px 0px 0px;
	flex:0; min-width:480px; max-width:480px; min-height:40px; max-height:40px;
}
.spritebutton{
	margin:0px; padding:7px;
	min-width:28px; max-width:28px; min-height:28px; max-height:28px;
	float:right;
}
.libraryOff{
	content: url('../img/UI/newsprite/libraryOff.png');
}
.paintbrushOff{
	content: url('../img/UI/newsprite/paintbrushOff.png');
}
.importOff{
	content: url('../img/UI/newsprite/importOff.png');
}
.cameraOff{
	content: url('../img/UI/newsprite/cameraOff.png');
}
.sprite-wrap{
	border:2px solid #ccc;
	flex:1;  max-width:480px; display:flex; flex-direction: row; flex-wrap: nowrap;
}
.sprite {
	flex:1;  max-width:320px;  
}
.spritebackground{
	flex:1;  max-width:80px;  
}


.column2 {
	flex:1; 
	display:flex;  flex-direction: column; flex-wrap: nowrap;
}
.workmenulabels{
	width:100%; min-height:27px; max-height:27px; 
	margin:0px; border-bottom:2px solid #ccc;
	display:flex;  flex-direction: row; flex-wrap: nowrap;
}
.workmenulabels label{
	margin:0px; padding:0px; border:2px solid #ccc; border-bottom: 2px solid #ccc; margin-bottom: -2px;
}
.workmenus{
	visibility: visible; 
	flex:1; 
	min-width:0px; max-width:none; min-height:0px; max-height:none; 
	border:2px solid #ccc; border-top: 0px solid #C00;
	display:flex;  flex-direction: column; flex-wrap: nowrap;
}
.workmenus div[name = workmenu-hidden]{
	visibility: hidden;
	flex:1; 
	min-width:0px; max-width:0px; min-height:0px; max-height:0px; 
	margin:0px; border:0px solid #ccc;
}
.workmenus div[name = workmenu-visible]{
	visibility: visible; 
	flex:1; 
	min-width:0px; max-width:none; min-height:0px; max-height:none; 
	border:0px solid #ccc;
	display:flex;  flex-direction: row; flex-wrap: nowrap;
}

.tools{
	visibility:inherit;
	flex:1; min-width:220px; max-width:220px;
	display:flex; align-items: flex-start; align-content: flex-start; flex-direction:row; flex-wrap: wrap;
}

.toolboxes {
	height: auto;
}
.toolbox {
	height: 100%;
}

.toollabels{
	flex:1; width:100%; 
	display:flex;  align-items: flex-start; align-content: flex-start; flex-direction:row; flex-wrap: wrap;
	margin:0px; border:0px solid #c00;
}
.toollabels label{
	flex:0; min-width:50%; max-height:40px; 
	margin:0px; padding:0px; border:0px solid #c00;
	background:linear-gradient(90deg,rgb(255,255,255) 73%,#4a6cd4 27%,#c88330 27%,#8a55d7 27%,#e1a91a 27%,#bb42c3 27%,#2ca5e2 27%,#0e9a6c 27%,#5cb712 27%,#ee7d16 27%,#632d99 27%);
}
.toolboxes{
	visibility: inherit; 
	flex:1; min-width:100%; min-height:100%;
	display:flex;  flex-direction:row; flex-wrap: wrap; 
	margin:0px; border:0px solid #c00;
}

.toolboxes div[name = toolbox-hidden]{
	visibility: hidden; 
	flex:0;  min-width:0px; max-width:0px; min-height:0px; max-height:0px; 
	display:flex;  flex-direction:row; flex-wrap: wrap; 
	margin:0px; border:0px solid #ccc;
}	
	
.toolboxes div[name = toolbox-visible]{
	visibility: inherit; 
	flex:1; min-width:100%; min-height:100%;
	display:flex;  flex-direction:row; flex-wrap: wrap; 
	margin:0px; border:0px solid #c00;
}
.code{
	visibility: inherit; margin:5px;
	flex:1; display:flex;  flex-direction: row; flex-wrap: nowrap; background-color: #dddede;
}

.imageSprite{
	visibility: inherit; 
	flex:1; min-width:110px; max-width:110px; min-height:110px; max-height:110px;
	display:flex;  flex-direction:row; flex-wrap: wrap; 
	margin:0px; border:0px solid #c00;
}

.imageSpritebar{
	visibility: inherit; 
	flex:0; min-width:110px; max-width:110px;
	display:flex;  flex-direction:row; flex-wrap: wrap; 
	margin:0px; border:0px solid #c00;
}

.imagebutton{
	float:right; min-width:20px; max-width:20px; min-height:20px; max-height:20px;
}

.imageSpritepreview{
	visibility: inherit; 
	flex:0; min-width:110px; max-width:110px;
	display:flex;  flex-direction:row; flex-wrap: wrap; 
	margin:0px; border:0px solid #c00;
}

.imageWrap01{
	visibility: inherit; 
	flex:1; display:flex;  flex-direction: column; flex-wrap: nowrap; background-color: #dddede;
}

.imageWorkFlow{
	min-height:35px; max-height:35px;
	flex:1; display:flex;  flex-direction: row; flex-wrap: nowrap; background-color: #dddede;
}

.imageWorkname{
	flex:1; min-width:180px; max-width:180px;
}

.imageUnredo{
	flex:1; min-width:180px; max-width:180px;	
}

.undoOff{
	content: url('../img/UI/buttons/undoOff.png');
}
.redoOff{
	content: url('../img/UI/buttons/redoOff.png');
}

.imageAddimage{
	flex:1; min-width:180px; max-width:180px;	
}

.imageDraw{
	visibility: inherit; 
	flex:1; display:flex;  flex-direction: row; flex-wrap: nowrap; background-color: #dddede;
}

.imageCanvas{
	visibility: inherit; 
	flex:1;  background-color: #dddede;
}

.imageToolbar{
	visibility: inherit; min-width:20px; max-width:20px;
	flex:1; display:flex;  flex-direction: column; flex-wrap: nowrap; background-color: #dddede;
}

.cropOff{
	content: url('../img/UI/paint/cropOff.png');
}
.flipHOff{
	content: url('../img/UI/paint/flipHOff.gif');
}
.flipVOff{
	content: url('../img/UI/paint/flipVOff.gif');
}
.setCenterOff{
	content: url('../img/UI/paint/setCenterOff.gif');
}
.editOff{
	content: url('../img/UI/paint/editOff.png');
}
.patheditOff{
	content: url('../img/UI/paint/patheditOff.png');
}
.pathOff{
	content: url('../img/UI/paint/pathOff.png');
}
.vectorLineOff{
	content: url('../img/UI/paint/vectorLineOff.png');
}
.vectorRectOff{
	content: url('../img/UI/paint/vectorRectOff.png');
}
.vectorEllipseOff{
	content: url('../img/UI/paint/vectorEllipseOff.png');
}
.textOff{
	content: url('../img/UI/paint/textOff.png');
}
.paintbucketOff{
	content: url('../img/UI/paint/paintbucketOff.png');
}
.bitmapStampOff{
	content: url('../img/UI/paint/bitmapStampOff.png');
}

.imagePalettes{
	visibility: inherit; min-height:200px; max-height:200px;
	flex:1; display:flex;  flex-direction: column; flex-wrap: nowrap; background-color: #dddede;
}

.imageLinetool{
	flex:1; min-height:200px; max-height:200px;	
}

.imagePalette{
	flex:1; min-height:200px; max-height:200px;
}

.imageEtctool{
	flex:1; min-height:200px; max-height:200px;	
}



.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
}
.overlay .screenbutton{  
	min-width:0px; max-width:0px; min-height:0px; max-height:0px;
	visibility: hidden;
	margin:0px; padding:0px; border:0px solid #ccc;
}

.overlay:target {
  visibility: visible;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
}

.popup  .screenbutton{  
	min-width:0px; max-width:0px; min-height:0px; max-height:0px;
	visibility: hidden;
	margin:0px; padding:0px; border:0px solid #ccc;
}

.close {
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.close:hover {
  color: #06D85F;
}

.content {
  max-height: 30%;
  overflow: auto;
}


.spritebutton_div{
	float:right;
	position:relative;
	width:30px;
	height:30px;
	overflow:hidden;
}
.file_input_hidden{
	position:absolute;
	right:0px;
	top:0px;
	opacity:0;
	cursor:pointer;
}

/* list 점 지우기 */
ul#sprite_list {
	list-style:none;
}
/* Style the list items */
ul#sprite_list li {
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;

	/* make the list items unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Darker background-color on hover */
ul#sprite_list li:hover {
	background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul#sprite_list li.selected {
	background: #888;
	color: #fff;
}