* { margin:0; padding:0; }
html, body { height:100% }
main { width:200%; height:100%; }
a { text-decoration:none; color:#000; font-size:12px; cursor:pointer; }
ul { list-style:none; }
nav li { display:inline; }
nav li a { float:left; margin-right:5px; padding:0px 20px; background:#ddd; }
h1 { display:inline-block; }
nav { display:inline-block; }
#column1 { display:block; float:left; }
#column2 { display:block; float:left; }
#screen { display:block; width:400px; height:300px; border:1px solid #ccc; margin:5px; }
#stage { display:block; width:400px; height:250px; border:1px solid #ccc; margin:5px; }
#work-space { display:block; width:900px; height:557px; margin:5px; }
#work-space > header { height:16px; margin:0px; padding:0px; }
#work-space > header a { color:#999; }
#work-space > header a.active { color:#000; }
#work-space > article { display:none; height:540px; border:1px solid #ccc; margin:0px; padding:0px; }

#work-space #script-tab > section { display:block; float:left; width:auto; height:100%; border:1px solid #ccc; }
#work-space #script-tab #tool-sec { width:25%; }
#work-space #script-tab #code-sec { width:74%; }