
.sprite-wrap{
    border:2px solid #ccc;
    flex:1 1 auto;  min-width:480px; min-height:360px; display:flex; flex-direction: row; flex-wrap: nowrap;
    background-color: #efefef;
}
.sprite {
    flex:1;  min-width:480px;
    border: 1px solid #ccc;
}
.spritebar{
    border:2px solid #ccc;
    border-radius: 15px 15px 0px 0px;
    flex:0; min-width:480px; min-height:40px; max-height:40px;
    background-color: #efefef;
}
.spritebutton{
    margin:0px; padding:7px;

    min-width:28px; max-width:28px; min-height:28px; max-height:28px;
    float:right;
}
.spritebackground{
    flex:1;  max-width:80px;
}

/* list 점 지우기 */
#sprite_list {
    list-style:none;
	display:flex;
	flex-direction: row;
    flex-wrap: wrap;
	align-content:flex-start;
}
/* Style the list items */
#sprite_list li {
    cursor: pointer;
    position: relative;
    font-size: 18px;
    transition: 0.2s;
	align-self:flex-start ;
	background-color: #efefef;

	flex:0 0;
	min-width:120px;
	min-height:120px;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Darker background-color on hover */
ul#sprite_list li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul#sprite_list li.selected {
    background: #888;
    color: #fff;
}

.close {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.spritebutton_div{
    float:right;
    position:relative;
    width:30px;
    height:30px;
    /*overflow:hidden;*/
}

#sprite_list li { border: 1px solid black; }
#sprite_list li img { width: 100px; height: 100px; z-index: 0; }

.sprite-title { display: inline-block; position: relative; width: 100%; }