
<template class="code-piece operator">
	<span class="code-piece binary operator element" operator="plus" return-type="number">
		<span class="element space">
			<input class="default element number" type="text" return-type="number" value="0"></span>
		+
		<span class="element space">
			<input class="default element number" type="text" return-type="number" value="0"></span>
	</span>
	<span class="code-piece binary operator element" operator="minus" return-type="number">
		<span class="element space">
			<input class="default element number" type="text" return-type="number" value="0"></span>
		-
		<span class="element space">
			<input class="default element number" type="text" return-type="number" value="0"></span>
	</span>
</template>
<template class="code-piece movement">
	<span class="code-piece movement magnet" movement="move">
		<span class="element space">
			<input class="default element number" type="text" return-type="number" value="0"></span>
		만큼 움직이기
	</span>
	<span class="code-piece movement magnet" movement="right-rotate">
		오른쪽으로
		<span class="element space">
			<input class="default element number" type="text" return-type="number" value="0"></span>
		도 돌기
	</span>
	<span class="code-piece movement magnet" movement="left-rotate">
		왼쪽으로
		<span class="element space">
			<input class="default element number" type="text" return-type="number" value="0"></span>
		도 돌기
	</span>
	<span class="code-piece movement magnet" movement="point-in-direction">
		<span class="element space">
			<input class="default element number" type="text" return-type="number" value="0"></span>
		도 방향 보기
	</span>
	<span class="code-piece movement magnet" movement="rach-gu">
		x:
		<span class="element space">
			<input class="default element number" type="text" return-type="number" value="0"></span>
		y:
		<span class="element space">
			<input class="default element number" type="text" return-type="number" value="0"></span>
		로 이동하기
	</span>
	<span class="code-piece movement element" movement="x-position">
		x좌표
	</span>
	<span class="code-piece movement element" movement="y-position">
		y좌표
	</span>
	<span class="code-piece movement element" movement="comhair">
		방향
	</span>
</template>